.chat-container {
    --btn-font-size: 15px;
    --btn-pad: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 100%;
    gap: 20px;
    padding-bottom: 10px;
}

.chat-container input {
    position: relative;
    top: 6px;
    height: 40px;
    border-radius: 12px;
    width: 200px;
    border: none;
    padding: 10px;
}

.chat-window {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.admin-role {
    background: linear-gradient(140deg, #d61838, #d83e57, #db1c3c);
    border-radius: 10px;
    border: 2px solid #9b0f27;
}

.owner-role {
    background: linear-gradient(140deg, #0c0c0c, #242121, #0c0c0c);
    border-radius: 10px;
    border: 2px solid #080808;
}

.message div {
    display: inline-block;
    white-space: pre-wrap;
    padding: 5px;
}

.message {
    display: flex;
    flex-direction: row;
}