#tower-defense .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    overflow-y: auto;
}

#tower-defense .tower-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto 0;
    border: 2px solid var(--accent-color-2); 
    padding: 15px; 
    border-radius: 8px;
}

#tower-defense .tower-details .tower-upgrades {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    gap: 10px; 
    flex-wrap: wrap;
}

#tower-defense .tower-details .tower-upgrades .tower-upgrade {
    padding: 10px; 
    text-align: center; 
    min-width: 180px;
    flex: 1;
    background-color: var(--accent-color-1);
}

#tower-defense .tower-details .tower-upgrades .tower-upgrade button {
    width: 140px;
}

#tower-defense canvas#tdCanvas {
    background-color: #1e272e;
    border: 4px solid var(--border-color);
    border-radius: 8px;
    cursor: crosshair;
}