#tower-defense .grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
}

#tower-defense .middle {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    overflow-y: auto;
}

#tower-defense .tower-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto 0;
    border: 2px solid var(--accent-color-2); 
    padding: 15px; 
    border-radius: 8px;
}

#tower-defense .tower-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto 0;
    border: 2px solid var(--accent-color-2); 
    padding: 15px; 
    border-radius: 8px;
    gap: 10px;
}

#tower-defense .tower-selection button {
    min-width: 240px;
}

#tower-defense .tower-details .tower-upgrades {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    gap: 10px; 
    flex-wrap: wrap;
}

#tower-defense .tower-details .tower-upgrades .tower-upgrade {
    padding: 10px; 
    text-align: center; 
    min-width: 180px;
    flex: 1;
    background-color: var(--accent-color-1);
}

#tower-defense .tower-details .tower-upgrades .tower-upgrade button {
    width: 140px;
}

#tower-defense canvas#tdCanvas {
    background-color: #1e272e;
    border: 4px solid var(--border-color);
    border-radius: 8px;
    cursor: crosshair;
}

#tower-defense .map-selection {
    display: flex; 
    gap: 10px; 
    margin-bottom: 15px; 
    width: 800px; 
    justify-content: center;
}